background-color: #1a1a1a; /* Dunkle Hintergrundfarbe */
            color: #ffffff; /* Weiße Textfarbe für bessere Lesbarkeit */
            font-family: Arial, sans-serif; /* Fallspezifische Schriftart */
        
